/Arithmatic.class
/assignment.class
/Bitwiseor.class
/relationalopr.class
/Logical.class
/increament.class
/Ternaryoperator.class
/Ternary.class
/Leftshift.class
/Rightshift.class
/Rightshiftzerofill.class
/Precedenceoperator.class
