/SingleInheritance.class
/BedRoom.class
/Room.class
/MultileveIInheritance.class
/Sem1.class
/Sem2.class
/Sem3.class
/MultipleInheritance.class
/sem11.class
/sem22.class
/sem33.class
/InterfaceTest.class
/Area.class
/Circle.class
/Rectangle.class
/AbstractBike.class
/Bike.class
