/DefaultMethod.class
/test.class
/Test.class
/StaticMethodEx.class
/Engine.class
/FunctionalInterfaceDemo.class
/FunctinalDemo.class
/main.class
/Main.class
/Square.class
/PredicateEx1.class
/PredicateEx2.class
/PredicateEx3.class
/FunctionEx1.class
/FunctionEx2.class
/ConsumerEx1.class
/ConsumeEx2.class
/SupplierEx1.class
/ComparableEx1.class
/Student.class
/Test1.class
/Dip.class
/student11.class
