/Compare.class
/LowerUpperCase.class
/RemoveDuplicates.class
/StringJoinner.class
/Tokenizer.class
/StringSplit.class
/CompareTo.class
/Trim.class
/Equals.class
/SubString.class
/MaxOccureChar.class
/FrequencyOfEachChar.class
/PalindromString.class
/CountSubString.class
/CheckAfterBeforSpecifiedChar.class
