/Simplearray.class
/TwoDimensionalArray.class
/AverageArray.class
/SortNumber.class
/SortString.class
/SpecificValueArray.class
/ReverseArray.class
/RemoveElement.class
/LargestElements.class
/CopyArray.class
/MapEx2.class
