/SwitchClass.class
/Max.class
/Reverse.class
/For.class
/Ifclass.class
/Ifelseifladder.class
/Nestedif.class
/While.class
/Dowhile.class
/Break.class
/Continue.class
/Return.class
/Arithmatic.class
/increament.class
/relationalopr.class
/Logical.class
/assignment.class
/Ternaryoperator.class
/Bitwiseor.class
